body{
    background: linear-gradient(white,rgb(145, 255, 154));
    height: 800px;
    width: 100vw;
    overflow-x: hidden;
}
.image,
.scan,
.resultat{
    margin: auto;
    width: 70%;
}
.image img{
    width: 100%;
}
.scan{
    height: 150px;
}
.text{
    width: 70%;
    float: left;
}
.button{
    float: right;
    width: 20%;
    position: relative;
}
.button input{
    position: absolute;
}
.donne{
    clear: both;
}
.donne input{
    width: 15%;
}
.button input{
    width: 100%;
    height: 30px;
}
legend{
    text-align: center;
}
